.emoji-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.emoji-thumb {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emoji-thumb :deep(.cached-image-wrapper) {
  width: 100%;
  height: 100%;
  display: block;
}

.emoji-thumb :deep(.cached-image-img) {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.emoji-name {
  min-height: 16px;
  line-height: 16px;
}
