#nacho-custom-picker {
    max-width: 400px;
    display: none;
    position: sticky;
    z-index: 2147483647;
    bottom: 44% !important;
    top: auto !important;
    left: auto !important;
}

#nacho-custom-picker.show-picker {
    display: block;
}
